
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');
*, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #111;
}

main, input {
  font-family: "Inconsolata", "SF Mono", monospace;
  line-height: 1.7;
  font-size: 1rem;
  background: #111;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  margin: 2rem auto;
  max-width: 28rem;
  display: block;
  align-items: center;
  border: 1px solid #fff;
}
footer p {
  font-family: "Inconsolata", "SF Mono", monospace;
  line-height: 1.5;
  font-size: 0.8rem;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  margin: 0;
  display: block;
  align-items: center;
  text-align: center;
}
footer {
  display: block;
  width: 100%;
  align-items: center;
  text-align: center;
  max-width: 28rem;
  margin: 2rem auto 3rem auto;
}

@media only screen and (max-width: 600px){
  main {
    border: 0px solid #fff;
  }
  footer {
    margin: 0rem auto 2rem auto;
  }
}

a, a:visited, a:active {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #fff;
}
a:hover {
  text-decoration: none;
}
p {text-align: justify;}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 600;
  text-align: center;
  font-size: 1.2rem;
}

h1 {
  font-family: 'VT323', monospace;
  font-size: 1.7rem;
  -webkit-animation: flicker 2s infinite;
}

@-webkit-keyframes flicker {
  0% {opacity:0;}
  9% {opacity:0;}
  10% {opacity:.5;}
  13% {opacity:0;}
  20% {opacity:.5;}
  25% {opacity:1;}
}
p, ul, div, hr, h1, h2, h3, hr { margin: 1rem 2rem;}

header {
  display: inline-block;
  width: 100%;
  border-bottom: 0px solid #ccc;
}
header h1 {
  display: block;
  margin: 0 2rem;
  padding:0;
  float:left;
}
header nav p {
  display: inline-flex;
  align-content: flex-end;
  float:right;
  margin: 0 2rem;
}

img {width: 100%}

ul li, ol li {
  margin-left: 1rem;
  padding-left: 0rem;
}
li span:first-child {
  margin-right: 1em;
}
hr {
  border: 0;
  height: 0;
  margin: 1.5rem 0rem 1.5rem 0rem;
  border-bottom: 1px solid #fff;
}

blockquote {
  border-left: 1px solid #ccc;
  padding: 0 0 0 2rem;
  margin: 0 2rem;
}

textarea, input {resize: none;margin:0;}

.upcoming {
  opacity: 0.5;
}
.films > li {
  margin: auto auto;
  display: flex;
  list-style-type: none;
  align-items: flex-start;
}
.films li > span:first-of-type {
  min-width: 3rem;
}
.past {
  opacity: 0.5;
}
.past > span:first-of-type{
  text-decoration: line-through;
}
.past a {
  text-decoration: none;
}
.button, input[type=checkbox] {
  display: inline-block;
  margin: 0 0 1.5rem 0;
  width: 100%;
  padding: 0.4rem 0.6rem;
  text-decoration: none;
  background: #111;
  border:1px solid #fff;
  color: #fff;
  border-radius: 0px;
}
.join {
  display: block;
  width: 100%;
  text-align: left;
  text-decoration: none;
  border: 0px solid white;
  background: white;
  color: #111;
  padding: 0.4rem 0.6rem;
}
.check {
  display: grid;
  grid-template-columns: 1rem auto;
  gap: 0.5rem;
  align-items: start;
}
.check input[type=checkbox] {
  margin: 0.4em 0 0 0;
}